/* =============================================================================
 * Base rules
 * =============================================================================
 * Defines the default look and formatting of the HTML elements on the page.
 */

// References
// -----------------------------------------------------------------------------
// Default style sheet for HTML 4 - http://www.w3.org/TR/CSS2/sample.html
// Grouping of the HTML elements  - http://www.w3.org/TR/html5/
// Normalize.css                  - https://github.com/necolas/normalize.css

* {
    &,
    &::before,
    &::after {
        box-sizing: inherit;
    }
}

/* -----------------------------------------------------------------------------
 * The root element
 * -----------------------------------------------------------------------------
 */

html {
    box-sizing: $box-sizing;
}

/* -----------------------------------------------------------------------------
 * Sections
 *  ----------------------------------------------------------------------------
 */

body {
    margin: 0; // Remove default margin.
    font: #{$base-font-size}/#{$base-line-height} $base-font-family;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    // Correct `block` display not defined for any HTML5 element in IE 8/9.
    // Correct `block` display not defined for `details` or `summary` in
    // IE 10/11 and Firefox.
    // Correct `block` display not defined for `main` in IE 11.
    display: block;
}

h1 {
    // Address variable `h1` font-size and margin within `section` and `article`
    // contexts in Firefox 4+, Safari, and Chrome.
    font-size: 2em;
    margin: 0.67em 0;
}

/* -----------------------------------------------------------------------------
 * Grouping content
 * -----------------------------------------------------------------------------
 */

figure {
    margin: 0; // Address margin not present in IE 8/9 and Safari.
}

hr {
    // Address differences between Firefox and other browsers.
    box-sizing: content-box;
    height: 0;
}

p {
    margin: 1em 0; // Set default margin.
}

pre {
    overflow: auto; // Contain overflow in all browsers.
}

/* -----------------------------------------------------------------------------
 * Text-level semantics
 * -----------------------------------------------------------------------------
 */

a {
    // Remove the gray background color from active links in IE 10.
    background-color: transparent;

    &:active,
    &:hover {
        // Improve readability of focused elements when they are also in
        // an active/hover state.
        outline: 0;
    }
}

code,
kbd,
pre,
samp {
    // Address odd `em`-unit font size rendering in all browsers.
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    // Address inconsistent and variable font size in all browsers.
    font-size: 80%;
}

sub,
sup {
    // Prevent `sub` and `sup` affecting `line-height` in all browsers.
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* -----------------------------------------------------------------------------
 * Embedded content
 * -----------------------------------------------------------------------------
 */

audio,
canvas,
progress,
video {
    // Correct `inline-block` display not defined in IE 8/9.
    display: inline-block;
    // Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
    vertical-align: baseline;
}

audio,
canvas,
iframe,
img,
svg,
video {
    // Remove the gap between embedded content and the bottom of their
    // containers.
    vertical-align: middle;
}

img {
    border: 0; // Remove border when inside `a` element in IE 8/9/10.
}

svg:not(:root) {
    overflow: hidden; // Correct overflow not hidden in IE 9/10/11.
}

/* -----------------------------------------------------------------------------
 * Tabular data
 * -----------------------------------------------------------------------------
 */

table {
    // Remove most spacing between table cells.
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/* -----------------------------------------------------------------------------
 * Forms
 * -----------------------------------------------------------------------------
 */

// NOTE: By default, Chrome and Safari on OS X allow very limited styling of
// `select`, unless a `border` property is set.

button,
input,
optgroup,
select,
textarea {
    // Address margins set differently in Firefox 4+, Safari, and Chrome.
    margin: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    // Improve usability and consistency of cursor style between image-type
    // `input` and others.
    cursor: pointer;
}

button[disabled],
input[disabled] {
    // Re-set default cursor for disabled elements.
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    // Remove inner padding and border in Firefox 4+.
    border: 0;
    padding: 0;
}

button,
select {
    // Address inconsistent `text-transform` inheritance for `button` and
    // `select`. All other form control elements do not inherit
    // `text-transform` values.
    // Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
    // Correct `select` style inheritance in Firefox.
    text-transform: none;
}

fieldset {
    // Define consistent border, margin, and padding.
    border: 0;
    margin: 0;
    padding: 0;
}

input {
    // Address Firefox 4+ setting `line-height` on `input` using `!important` in
    // the UA stylesheet.
    line-height: normal;
}

textarea {
    overflow: auto; // Remove default vertical scrollbar in IE 8/9/10/11.
}

/* -----------------------------------------------------------------------------
 * Scripting
 * -----------------------------------------------------------------------------
 */

// Address `[hidden]` styling not present in IE 8/9/10.
// Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
[hidden],
template {
    display: none;
}