// =============================================================================
// Variables
// =============================================================================

// -----------------------------------------------------------------------------
// Base configuration
// -----------------------------------------------------------------------------

$base-box-sizing:                   border-box;
$base-font-family:                  Verdana, Geneva, sans-serif;
$base-font-size:                    16px;
$base-line-height:                  1.25;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------
